.container {
  background-color: rgba(216, 205, 205, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.container > h1 {
  background-color: antiquewhite;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: inline-block;
  padding: 0.5rem;
}

.container > h1:first-child {
  border-left: 5px solid yellow;
}
.container > h1:nth-child(2) {
  border-left: 5px solid blue;
}
.container > h1:nth-child(3) {
  border-left: 5px solid rgb(231, 21, 21);
}
.container > h1:nth-child(4) {
  border-left: 5px solid rgb(255, 192, 203);
}
.container > h1:nth-child(5) {
  border-left: 5px solid greenyellow;
}
.container > h1:nth-child(6) {
  border-left: 5px solid rgb(35, 131, 35);
}
